.aboutMe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 50px;
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.aboutMeText{
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    margin-bottom: -20px;
}

.aboutImg{
    content: url('../clip2.png');
    width: 160px;
    height: 160px;
}

.line{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.deets{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.epicLogo{
    width: 100px;
    align-self: center;
}
