@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(360deg);
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

@keyframes move1 {
    0%{
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
    }

    to{
        bottom: 0;
        right: 0;
    }
}

@keyframes move2 {
    from{
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
    }

    to{
        top: 0;
        left: 0;
    }
}

@keyframes move3 {
    from{
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
    }

    to{
        top: 0;
        right: 0;
    }
}

@keyframes move4 {
    from{
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
    }

    to{
        bottom: 0;
        left: 0;
    }
}

.landing
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background: black;
}

.column
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color: white;
}


#leftSide
{
    height: 100%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#rightSide{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3{
    align-self: center;
    font-weight: 900;
}

h1{
    align-self: center;
    justify-self: center;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
}

label{
    align-self: center;
    justify-self: center;
    font-size: 15px;
    color: #909090;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
}

.plusSignR{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
    animation: move1 3s ease-out;
}

.plusSignL
{
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    padding-left: 30px;
    padding-top: 90px;
    animation: move2 3s ease-out;
}

.plusSignRT
{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-top: 90px;
    width: 15px;
    height: 15px;
    animation: move3 3s ease-out;
}

.plusSignLB
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 15px;
    height: 15px;
    animation: move4 3s ease-out;
}

.xSign{
    animation: flickerAnimation .5s linear 2;
}