@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,800&display=swap');

.landing
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    font-family: 'Raleway', sans-serif;
}

.column
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}


#leftSide
{
    height: 100%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
}

h3{
    font-weight: 900;
}

h1{
    font-size: 40px;
    font-weight: 900;
}

label{
    font-size: 15px;
    color: #909090;
}

