.more{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.moreData{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.linksRow{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 300px;
}

.logoImg{
    width: 60px;
}

.rights{
    color: white;
}

@media (max-width: 880px){
    .moreData{
        margin-top: 100px;
    }

    .linksRow{
        margin-bottom: 0px;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0px;
    }
}