.more{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.moreData{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.linksRow{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 300px;
}

.logoImg{
    width: 60px;
}

.rights{
    color: white;
}