.navbar{
    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
  }
  .logo img{
    width: 50px;
  }
  .navigation{
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    color: white;
  }

  .navElements{
    margin-right: 50px;
    font-weight: bolder;
  }

  .navElements:hover{
    color: #d7d7d7;
  }

  .navA{
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
  }

  .navA:hover{
    background-color: white;
    color: black;
  }