@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes appear {
    from {display: none; transition: 2s;}
    to{display: block; transition: 2s;}
  }

.navbar{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    background: black;
    background-color: rgb(14, 14, 14);
    padding-bottom: 30px;
    padding-top: 30px;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-style: solid;
    border-bottom-color: #ffa500;
    border-width: 1px;
}

.navigation{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    background: black;
    background-color: rgb(14, 14, 14);
}

.navA{
    font-size: 17px;
    color: orange;
    text-decoration: none;
    font-weight: lighter;
    padding: 5px;
    background-color: rgb(14, 14, 14);
    transition: background-color 0.5s ease;
}

.navA{
    margin-right: 50px;
}


.logoimg{
    content: url('../KA\ biob.png');
    width: 40px;
    height: 40px;
    padding-left: 30px;
    background-color: rgb(14, 14, 14);
}

.navA{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    text-decoration: none;
}

.navAHover {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 5px;
    color: orange;
}

.navAHover:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    color: black;
    border-style: none;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navAHover:hover, .navAHover:focus, .navAHover:active {
    color: black;
    border-radius: 5px;
}

.navAHover:hover:before, .navAHover:focus:before, .navAHover:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 5px;
}

.collapsedNav{
    display: none;
}

.navigation-menu{
    display: none;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    background-color: rgb(14, 14, 14);
    color: #ffa500;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: none;
}

@media screen and (max-width: 880px) {

    .collapsedNav{
        height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      padding: 0.5rem 0rem;
      color: black;
      box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    }

    .navigation{
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navigation-menu{
        visibility: hidden;
    }

    .expanded {
        visibility: visible;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 17vh;
        transition: visibility 0.5s ease;
      }

      .navA{
          width: 100vw;
          overflow-y: hidden;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 0;
          padding-left: 0;
      }

      .logo{
        position: absolute;
        left: 0.1%;
        top: auto;
        bottom: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
}