@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    background: black;
    background-color: rgb(14, 14, 14);
    padding-bottom: 30px;
    padding-top: 30px;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-style: solid;
    border-bottom-color: #ffa500;
    border-width: 1px;
}

.navigation{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    background: black;
    background-color: rgb(14, 14, 14);
}

.navA{
    font-size: 17px;
    color: orange;
    text-decoration: none;
    font-weight: lighter;
    padding: 5px;
    background-color: rgb(14, 14, 14);
    transition: background-color 0.5s ease;
}

.navA:hover{
    border: #ffa500;
    border-style: solid;
}

.navElements{
    margin-right: 50px;
}


.logoimg{
    content: url('../KA\ biob.png');
    width: 40px;
    height: 40px;
    padding-left: 30px;
    background-color: rgb(14, 14, 14);
}