.skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 50px;
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.skillsBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-self: center;
    margin-top: 20px;
}

.row{
    display: flex;
    justify-content: space-around;
}

.reactImg{
    width: 100px;
}

.reactImgRotate{
    width: 100px;
}

.react{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: flex-end;
    margin: 30px;
}

.skillTitle{
    color: white;
}

@media (max-width: 880px){
    .mobileRow{
        flex-direction: column;
    }

    .react{
        margin: 50px;
    }

    .reactImg{
        margin-bottom: 10px;
    }

    .skillTitle{
        text-align: center;
        margin-top: 10px;
    }
}
